# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/

# macOS
.DS_Store

# Docker
*.pid

# VSCode
.vscode/

# Logs
*.log

# System
Thumbs.db

# Grafana/Prometheus data
prometheus-data/
grafana-data/
